.image-item img {
   max-width: 400px;
}

label {
   font-size: 18px;
}

form option {
   font-family: "Montserrat", Verdana, sans-serif;
   font-size: 18px;
}

select {
   width: 150px;
   height: 30px;
   border-radius: 4px;
   border: 1px solid #7c7c7c;
}

.container {
   display: flex;
   margin: 50px auto;
   max-width: 1560px;
   justify-content: space-between;
   align-items: flex-end;
}

.container .items {
   margin: 0 50px;
}

.container .main-nav {
   display: flex;
   align-items: center;
   gap: 1em;
}

.games-item img {
   max-width: 150px;
   border-radius: 6px;
}

.games {
   display: grid;
   max-width: 1500px;
   grid-template-columns: repeat(5, auto);
   grid-gap: 3em;
   margin: 100px auto;
}

.games-item {
   margin: 0 auto;
   padding: 20px;
   border: 1px solid #c4c4c4;
   border-radius: 10px;
}

.games-item:hover {
   box-shadow: 0 0.5em 0.5em -0.4em #000;
   transform: translateY(-0.25em);
}

@media screen and (max-width: 730px) {
   .container {
      display: none;
   }

   .games {
      grid-template-columns: auto;
      grid-template-rows: repeat(10, auto);
   }
}