.logos i{
   font-size: 3rem;
   color: #a231ca;
   padding-right: 10px;
}

main img {
   max-width: 300px;
}

.container-grid:nth-child(1) {
   grid-area: title;
}

.container-grid:nth-child(2) {
   grid-area: info;
}

.container-grid:nth-child(3) {
   grid-area: logoimage;
}

.container-grid:nth-child(4) {
   grid-area: social;
}

.container-grid {
   display: grid;
   max-width: 100%;
   margin: 10px auto;
   grid-auto-rows: auto;
   justify-items: center;
   grid-template-areas:
   "title"
   "info logoimage"
   "social";
}

.grid-item {
   max-width: 600px;
   padding: 20px;
   text-align: center;
   line-height: 1.5;
}

.article {
   font-size: 1.2em;
   max-width: 700px;
}