.image-item img {
   max-width: 400px;
}

label {
   font-size: 18px;
}

form option {
   font-family: "Montserrat", Verdana, sans-serif;
   font-size: 18px;
}

select {
   width: 150px;
   height: 30px;
   border-radius: 4px;
   border: 1px solid #7c7c7c;
}

.container {
   display: flex;
   margin: 50px auto;
   max-width: 1560px;
   justify-content: space-between;
   align-items: flex-end;
}

.container .items {
   margin: 0 50px;
}

.container .main-nav {
   display: flex;
   align-items: center;
   gap: 1em;
}

.games-item img {
   max-width: 150px;
   border-radius: 1em;
   box-shadow: 0px 0px 21px 0px rgba(0,0,0,0.75) inset;
}

.games {
   display: grid;
   max-width: 1500px;
   grid-template-columns: repeat(5, auto);
   grid-gap: 3em;
   margin: 100px auto;
}

.games-item {
   margin: 0 auto;
   padding: 20px;
   border-radius: 2em;
   transition: linear .3s;
   background-image: linear-gradient(120deg, #a231ca, #4a00e0);
}

.games-item a {
   text-decoration: none;
   color: #fff;
}

.games-item:hover {
   box-shadow: 0 0.5em 0.5em -0.4em #000;
   transform: translateY(-0.50em);
   transition: linear .3s;
}

.gameinfo {
   text-align: center;
}

.gameinfo h3 {
   font-family: "Toko", "Montserrat", Verdana, sans-serif;
   letter-spacing: 1px;
   font-size: 1.5em;
   margin-top: 15px;
}

@media (max-width: 1200px) {
   .games {
      grid-template-columns: repeat(4, auto);
      grid-template-rows: repeat(4, auto);
   }

   .image-item,
   .form-item {
      display: none;
   }

   .container {
      justify-content: center;
   }
}

@media (max-width: 1000px) {
   .games {
      grid-template-columns: auto auto;
      grid-template-rows: repeat(5, auto);
      column-gap: 0em;
      max-width: 700px;
   }
}

@media (max-width: 730px) {
   .games {
      grid-template-columns: auto;
      grid-template-rows: repeat(10, auto);
   }
}