body {
   font-size: 1.2rem;
}

input {
   max-width: 500px;
   height: 40px;
   border-radius: 8px;
   border: 1px solid #7c7c7c;
}

textarea {
   max-width: 600px;
   height: 200px;
   border-radius: 8px;
   border: 1px solid #7c7c7c;
}

input::placeholder,
textarea::placeholder {
   font-size: 1.2rem;
}

input[type="text"],
input[type="email"],
textarea[type="text"] {
   font-size: 1.2rem;
   font-family: "Montserrat", Verdana, sans-serif;
   padding: 5px;
   padding-left: 10px;
}

.grid-container {
   display: grid;
   max-width: 800px;
   margin: 40px auto;
   grid-template-rows: repeat(4, auto);
}

.grid-item {
   padding: 20px;
}

.form-grid {
   display: grid;
}

.form-grid > * {
   margin: 10px 0;
}