@font-face {
   font-family: "Montserrat";
   src: url("/fonts/Montserrat-Regular.ttf") format("truetype")
}

body {
   font-family: "Montserrat", Verdana, sans-serif;
}

.game-info img {
   width: 128px;
   height: 167px;
}

.main-home {
   background-image: url("../images/game-console-g836463e15_1920.jpg");
   min-height: 110vh;
   background-size: cover;
   background-repeat: no-repeat;
   background-position-y: bottom;
   color: white;
}

header img {
   width: 111px;
   height: 70px;
}

nav li {
   display: inline-block;
}

nav li a {
   color: #000;
   text-decoration: none;
   padding: 10px;
   font-size: 1.5rem;
}

nav li a:hover {
   text-decoration: underline;
}

nav ul {
   padding: 0px;
}

.main-info img {
   width: 520px;
   height: 327px;
}

.game-info {
   border: 1px solid #d6d6d6;
   border-radius: 8px;
   display: inline-block;
   padding: 20px;
   margin: auto;
}

.main-home a,
.secondary-home a {
   background-color: #a231ca;
   color: #fff;
   text-decoration: none;
   font-size: 1.5rem;
   padding: 10px;
   border-radius: 8px;
}

h1, h2 {
   font-size: 2rem;
}

#shopping-cart {
   width: 40px;
   height: 33px;
}