input {
   height: 40px;
   border-radius: 8px;
   border: 1px solid #7c7c7c;
}

#cvc {
   max-width: 50%;
}

input::placeholder {
   font-size: 1.2rem;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
   font-size: 1.2rem;
   font-family: "Montserrat", Verdana, sans-serif;
   padding: 5px;
   padding-left: 10px;
}

select {
   height: 40px;
   border-radius: 4px;
   border: 1px solid #7c7c7c;
   font-size: 1.2rem;
   font-family: "Montserrat", Verdana, sans-serif;
}

main {
   display: grid;
   place-items: center;
   align-content: center;
   gap: 3rem;
   margin: 40px 0;
}

.grid-container {
   max-width: 46rem;
   display: grid;
   grid-template-rows: 1fr 1fr;
   border-radius: 2rem;
   overflow: hidden;
   box-shadow: 1px -1px 29px 2px rgba(0,0,0,0.5);
}

.personal-details {
   text-align: center;
   font-size: 1.5rem;
   background-image: linear-gradient(to right, #a231ca, #4a00e0);
   color: #fff;
   padding: 2.5rem;
   display: grid;
   align-content: center;
   gap: 1rem;
}

.personal-details img {
   max-width: 200px;
   margin-top: 30px;
}

.payment-details {
   padding: 2.5rem;
   display: grid;
   align-content: center;
   font-size: 1.5rem;
   gap: 1rem;
}

@media screen and (min-width: 730px) {
   .grid-container {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
   }
}